// Let the greeter user suspend, reboot and power off from the login screen.
polkit.addRule(function(action, subject) {
    if (subject.user == "greeter" &&
        (action.id == "org.freedesktop.login1.power-off" ||
         action.id == "org.freedesktop.login1.reboot" ||
         action.id == "org.freedesktop.login1.suspend" ||
         action.id == "org.freedesktop.login1.hibernate")) {
        return polkit.Result.YES;
    }
});
